<div class="main-card mb-3 card">
  <div class="card-body">
    <h5 class="card-title">Sửa sản phẩm</h5>
    <form [formGroup]="editProd" (ngSubmit)="saveProd($event)">
      <div class="position-relative row form-group">
        <label for="title" class="col-sm-2 col-form-label">Tên sản phẩm</label>
        <div class="col-sm-10">
          <input
            id="title"
            type="text"
            class="form-control"
            formControlName="title"
          />
          <div
            *ngIf="f.title.invalid && (f.title.dirty || f.title.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="f.title.errors?.required">Không được bỏ trống</div>
            <div *ngIf="f.title.errors?.minlength">Từ 4 kí tự trở lên</div>
          </div>
        </div>
      </div>
      <br />
      <div class="position-relative row form-group">
        <label for="exampleText" class="col-sm-2 col-form-label"
          >Danh mục</label
        >
        <div class="col-sm-10">
          <select class="form-control" formControlName="categoryId">
            <ng-container *ngFor="let c of cates">
              <option aria-placeholder="Danh mục" value="{{ c.id }}">
                {{ c.name | titlecase }}
              </option>
            </ng-container>
          </select>
        </div>
      </div>
      <br />
      <div class="position-relative row form-group">
        <label for="exampleText" class="col-sm-2 col-form-label"
          >Quốc gia</label
        >
        <div class="col-sm-10">
          <select class="form-control" formControlName="authorId">
            <ng-container *ngFor="let a of author">
              <option value="{{ a.id }}">
                {{ a.name | titlecase }}
              </option>
            </ng-container>
          </select>
        </div>
      </div>
      <br />
      <div class="row" *ngIf="editProd.value.image">
        <div class="col-6 offset-3">
          <img [src]="imageUrl" class="img-thumbnail" />
        </div>
      </div>
      <div class="position-relative row form-group">
        <label class="col-sm-2 col-form-label">Ảnh</label>
        <div class="col-sm-10">
          <img [src]="imageUrl" width="100px" alt="" />
          <input
            type="file"
            (change)="fileUploader($event)"
            class="form-control"
          />
        </div>
      </div>
      <br />

      <div class="position-relative row form-group">
        <label class="col-sm-2 col-form-label">Mô tả ngắn</label>
        <div class="col-sm-10">
          <textarea class="form-control" formControlName="desc"></textarea>
        </div>
      </div>
      <br />

      <div class="position-relative row form-group">
        <label class="col-sm-2 col-form-label">Chi tiết</label>
        <div class="col-sm-10">
          <textarea class="form-control" formControlName="details"></textarea>
        </div>
      </div>
      <br />

      <div class="position-relative row form-group">
        <label for="examplePrice" class="col-sm-2 col-form-label"
          >Giá sản phẩm</label
        >
        <div class="col-sm-10">
          <input
            id="examplePrice"
            type="number"
            class="form-control"
            formControlName="price"
          />
        </div>
      </div>
      <br />

      <div class="position-relative row form-check">
        <div class="col-sm-10 offset-sm-2">
          <button class="btn btn-success" [disabled]="!editProd.valid">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
  <pre>
        {{ editProd.value | json }}
      </pre
  >
</div>
