<h4 class="text-primary">Danh sách sản phẩm</h4>

<table class="table table-borderless table-hover">
  <caption>
    Adminstrator
  </caption>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Tên</th>
      <th scope="col">Ảnh</th>
      <th scope="col">Giá</th>
      <th scope="col">Mô tả</th>
      <th scope="col">Quốc gia</th>
      <th scope="col">
        <a class="btn btn-warning" routerLink="/admin/san-pham/new">Thêm mới</a>
      </th>
    </tr>
  </thead>
  <tbody *ngFor="let p of prod; index as i">
    <tr>
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ p.title | titlecase }}</td>
      <td>
        <img [src]="p.image" alt="" width="100" />
      </td>
      <td>{{ p.price | currency: "VND" }}</td>
      <td>{{ p.desc }}</td>
      <td>{{ p.author.name }}</td>
      <td>
        <a class="btn btn-info" [routerLink]="['/admin/san-pham/edit', p.id]"
          >Sửa</a
        >
        <a href="javascript:;" (click)="remove(p.id)" class="btn btn-danger"
          >Xóa
        </a>
      </td>
    </tr>
  </tbody>
</table>
