<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<body class="w3-light-grey">
  <!-- Top container -->
  <div class="w3-bar w3-top w3-black w3-large" style="z-index: 4">
    <button
      class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey"
      onclick="w3_open();"
    >
      <i class="fa fa-bars"></i>  Menu
    </button>
    <span class="w3-bar-item w3-right"><i class="fab fa-audible"></i>Logo</span>
  </div>

  <!-- Sidebar/menu -->
  <nav
    class="w3-sidebar w3-collapse w3-white w3-animate-left"
    style="z-index: 3; width: 300px"
    id="mySidebar"
  >
    <br />
    <div class="w3-container w3-row">
      <div class="w3-col s4">
        <img
          src="https://scontent.fhan3-1.fna.fbcdn.net/v/t1.6435-1/cp0/p50x50/171062076_102241988661748_1805857568943430958_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=7206a8&_nc_ohc=n0QIRh1zvIAAX_7Q6IL&_nc_ht=scontent.fhan3-1.fna&tp=27&oh=22ccde3e13bcd476d6928d7a545dd14c&oe=609918BB"
          class="w3-circle w3-margin-right"
          style="width: 46px"
        />
      </div>
      <div class="w3-col s8 w3-bar">
        <span>Welcome, <strong>Admin</strong></span
        ><br />
        <a href="#" class="w3-bar-item w3-button"
          ><i class="fa fa-envelope"></i
        ></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
      </div>
    </div>
    <hr />
    <div class="w3-container">
      <h4>
        <a
          routerLink="/admin"
          href="javascript:;"
          class="w3-bar-item w3-button w3-padding"
        >
          <i class="fab fa-app-store-ios"></i> Dashboard</a
        >
      </h4>
    </div>
    <div class="w3-bar-block">
      <a
        routerLink="/admin/danh-muc"
        href="javascript:;"
        class="w3-bar-item w3-button w3-padding"
        > <i class="fab fa-accusoft"></i> Danh mục</a
      >
      <a
        routerLink="/admin/san-pham"
        href="javascript:;"
        class="w3-bar-item w3-button w3-padding"
        ><i class="fas fa-spinner"></i>  Sản phẩm</a
      >
      <a href="/admin" class="w3-bar-item w3-button w3-padding"
        ><i class="fas fa-users"></i>  Tác giả</a
      >
      <a href="/admin" class="w3-bar-item w3-button w3-padding"
        ><i class="fa fa-dumbbell"></i>  Geo</a
      >
    </div>
  </nav>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left: 300px; margin-top: 43px">
    <!-- Header -->
    <header class="w3-container" style="padding-top: 22px">
      <h5>
        <b><i class="fa fa-dashboard"></i> My Dashboard</b>
      </h5>
    </header>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-padding-16 w3-light-grey">
      <h4>FOOTER</h4>
      <p>
        Powered by Adminstrator:
        <a class="nav-item" href="https://www.facebook.com/stages.jabber">
          thanhlt</a
        >
      </p>
    </footer>
    <!-- End page content -->
  </div>
</body>
