.spinner-borde {
  text-align: center;
  width: 3rem;
  height: 3rem;
}
.title {
  font-weight: bold;
}
.w3-large {
  font: optional;
  font-size: 20px;
  font-weight: bold;
  color: yellow;
  text-decoration: none;
}
.w3-jumbo {
  color: cornsilk;
}
.w3-xxlarge {
  color: orangered;
  text-decoration: orange;
}
.w3-xxlarge:hover {
  color: royalblue;
}
