<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

<body class="w3-content" style="max-width: 1300px">
  <!-- Sidebar/menu -->
  <nav
    class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top"
    style="z-index: 3; width: 250px"
    id="mySidebar"
  >
    <div class="w3-container w3-display-container w3-padding-16">
      <a href="/home"
        ><img
          class="w3-wide"
          src="https://lezebre.lu/images/detailed/79/21689-monster-energy-logo.png"
          alt=""
          width="100px"
      /></a>
    </div>
    <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight: bold">
      <a href="/home" class="w3-bar-item w3-button">Trang chủ</a>
      <a
        onclick="myAccFunc()"
        href="javascript:void(0)"
        class="w3-button w3-block w3-white w3-left-align"
        id="myBtn"
      >
        Danh mục<i class="fa fa-caret-down"></i>
      </a>

      <ul class="nav-cate">
        <li class="nav-link" *ngFor="let c of cates">
          <a
            class="nav-item"
            routerLink="danh-muc/{{ c.id }}"
            href="javascript:;"
            >{{ c.name | titlecase }}</a
          >
        </li>
      </ul>
    </div>
    <a
      href="#footer"
      class="w3-bar-item w3-button w3-padding"
      style="font-weight: bold"
      >Contact</a
    >
    <a
      href="javascript:void(0)"
      class="w3-bar-item w3-button w3-padding"
      style="font-weight: bold"
      onclick="document.getElementById('newsletter').style.display='block'"
      >Newsletter</a
    >
    <!-- <a href="#footer" class="w3-bar-item w3-button w3-padding">Subscribe</a> -->
  </nav>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left: 250px">
    <!-- Push down content on small screens -->
    <!-- Image header -->
    <div class="w3-display-container w3-container">
      <img
        src="https://i.pinimg.com/originals/29/7e/46/297e46da6f88b3d9cc9b3f4144c6b63c.png"
        alt="Jeans"
        style="width: 100%"
      />
      <div class="w3-display-topleft w3-text-white" style="padding: 24px 48px">
        <h1 class="w3-jumbo w3-hide-small">DRINK</h1>
        <h1 class="w3-hide-large w3-hide-medium">NEW MONSTER</h1>
        <h1 class="w3-hide-small">COLLECTION 2021</h1>
        <p>
          <a href="#jeans" class="w3-button w3-black w3-padding-large w3-large"
            >BUY NOW</a
          >
        </p>
      </div>
      <br />
    </div>

    <div class="w3-container w3-text-grey" id="jeans">
      <router-outlet></router-outlet>
    </div>
    <br />
    <br />
    <br />
    <!-- Subscribe section -->
    <!-- <div class="w3-container w3-black w3-padding-32">
      <h1>Subscribe</h1>
      <p>To get special offers and VIP treatment:</p>
      <p>
        <input
          class="w3-input w3-border"
          type="text"
          placeholder="Enter e-mail"
          style="width: 100%"
        />
      </p>
      <button type="button" class="w3-button w3-red w3-margin-bottom">
        Subscribe
      </button>
    </div> -->

    <!-- Footer -->
    <footer class="w3-padding-64 w3-light-grey w3-small w3-center" id="footer">
      <div class="w3-row-padding">
        <div class="w3-col s4">
          <h4>Contact</h4>
          <p>Questions? Go ahead.</p>
          <form action="/action_page.php" target="_blank">
            <p>
              <input
                class="w3-input w3-border"
                type="text"
                placeholder="Name"
                name="Name"
                required
              />
            </p>
            <p>
              <input
                class="w3-input w3-border"
                type="text"
                placeholder="Email"
                name="Email"
                required
              />
            </p>
            <p>
              <input
                class="w3-input w3-border"
                type="text"
                placeholder="Message"
                name="Message"
                required
              />
            </p>
            <button
              type="submit"
              class="w3-button w3-block w3-black"
              style="font-weight: bold"
            >
              Send
            </button>
          </form>
        </div>

        <div class="w3-col s4">
          <h4>About</h4>
          <p><a href="#">About us</a></p>
          <p><a href="#">Support</a></p>
          <p><a href="#">Shipment</a></p>
          <p><a href="#">Payment</a></p>
          <p><a href="#">Return</a></p>
          <p><a href="#">Help</a></p>
        </div>

        <div class="w3-col s4 w3-justify">
          <h4>Store</h4>
          <p><i class="fa fa-fw fa-map-marker"></i> Company Name</p>
          <p><i class="fa fa-fw fa-phone"></i> 0044123123</p>
          <p><i class="fa fa-fw fa-envelope"></i> ex@mail.com</p>
          <h4>We accept</h4>
          <p><i class="fa fa-fw fa-cc-amex"></i> Amex</p>
          <p><i class="fa fa-fw fa-credit-card"></i> Credit Card</p>
          <br />
        </div>
      </div>
    </footer>

    <div class="w3-black w3-center w3-padding-24">
      Powered by Adminstrator:
      <a class="nav-item" href="https://www.facebook.com/stages.jabber">
        thanhlt</a
      >
    </div>

    <!-- Newsletter Modal -->
    <div id="newsletter" class="w3-modal">
      <div class="w3-modal-content w3-animate-zoom" style="padding: 32px">
        <div class="w3-container w3-white w3-center">
          <i
            onclick="document.getElementById('newsletter').style.display='none'"
            class="fa fa-remove w3-right w3-button w3-transparent w3-xxlarge"
          ></i>
          <h2 class="w3-wide">NEWSLETTER</h2>
          <p>
            Join our mailing list to receive updates on new arrivals and special
            offers.
          </p>
          <p>
            <input
              class="w3-input w3-border"
              type="text"
              placeholder="Enter e-mail"
            />
          </p>
          <button
            type="button"
            class="w3-button w3-padding-large w3-red w3-margin-bottom"
            onclick="document.getElementById('newsletter').style.display='none'"
          >
            Subscribe
          </button>
        </div>
      </div>
    </div>
    <!-- End page content -->
  </div>
</body>
