<h4 class="text-primary">Danh sách sản phẩm</h4>

<table class="table table-borderless table-hover">
  <caption>
    Adminstrator
  </caption>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Sản phẩm</th>
      <th scope="col">Ảnh</th>
      <th scope="col">Phép thuật</th>
      <th scope="col">Tác giả</th>
      <th scope="col">
        <a class="btn btn-warning" href="" [routerLink]="['/home']">Thêm mới</a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td>
        <img src="" alt="" width="100" />
      </td>
      <td></td>
      <td></td>
      <td>
        <a class="btn btn-info" href="">Sửa </a>
        <a class="btn btn-danger" href=""> Xóa</a>
      </td>
    </tr>
  </tbody>
</table>
