<h4 class="text-primary">Quốc gia</h4>

<table class="table table-borderless table-hover">
  <caption>
    Adminstrator
  </caption>
  <thead>
    <th>ID</th>
    <th>Quốc gia</th>
    <th>Số dòng sản phẩm</th>
    <th>Image</th>
    <th>
      <a
        href="javascript:;"
        class="btn btn-warning"
        routerLink="/admin/quoc-gia/new"
        >Tạo mới</a
      >
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let a of author; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ a.name | titlecase }}</td>
      <td>{{ a.books.length }}</td>
      <td></td>
      <td>
        <a
          href="javascript:;"
          class="btn btn-info"
          routerLink="/admin/quoc-gia/edit/{{ a.id }}"
          >Sửa
        </a>
        <a href="javascript:;" (click)="remove(a.id)" class="btn btn-danger">
          Xóa</a
        >
      </td>
    </tr>
  </tbody>
</table>
